@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-custom {
    @apply w-[46%] mt-6 py-1 rounded-md bg-slate-700 capitalize cursor-pointer text-sm md:text-base transition-all duration-[0.8s] hover:bg-slate-800;
  }

  .product-card-home {
    @apply w-[80%] md:w-[94%] mx-auto py-4 px-1 rounded-xl bg-gradient-to-bl from-slate-750 via-slate-850 to-gray-900 shadow-sm text-white text-center;
  }

  .product-card-modal {
    @apply mx-auto py-2 px-1 rounded-xl text-white text-start lg:text-center;
  }
}

body::-webkit-scrollbar {
  width: 0;
  border-radius: 4.5rem;
  background-color: transparent !important;
}

body::-webkit-scrollbar-track {
  background-color: transparent !important;
}

body::-webkit-scrollbar-thumb {
  background-color: #111827;
}

body::-webkit-scrollbar-track-piece {
  display: none;
}

.section-padding {
  padding-block: 10rem;
}
